/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <12>;
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <%left_encoder %right_encoder>;
        triggers-per-rotation = <10>;
    };
};
