#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &hontonopage_physical_layout;
    };
    
    hontonopage_physical_layout: hontonopage_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
        rows = <5>;               
        map = <
                    RC(0,1)
            RC(1,0) RC(2,1) RC(3,1)
                    RC(4,1)
        >;
    };
    
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        wakeup-source;
        diode-direction = "col2row";
            col-gpios
                = <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                , <&xiao_d 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                ;
            row-gpios
                = <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                , <&xiao_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                , <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                , <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                , <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
                ;
    };
	     soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&kscan0>;
    };

    encoder0: encoder0 {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <12>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder0>;
        triggers-per-rotation = <6>;
    };
 
    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

    leds {
        compatible = "gpio-leds";
        status = "okay";
        led0: led_0 {
            gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;  // red LED, connected to P0.26
        };
        led1: led_1 {
            gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;  // green LED, connected to P0.30
        };
        led2: led_2 {
            gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;  // blue LED, connected to P0.06
        };
    };
};