/ {
    chosen {
        hontonopage_physical_layout: hontonopage_physical_layout {
            compatible = "zmk,physical-layout";
            display-name = "default_layout";
            kscan = <&kscan0>;
            transform = <&matrix_transform0>;

            keys  //                     w   h    x    y     rot    rx    ry
                = <&key_physical_attrs 100 100  100  100       0     0     0>
                , <&key_physical_attrs 100 100  100    0       0     0     0>
                , <&key_physical_attrs 100 100    0  100       0     0     0>
                , <&key_physical_attrs 100 100  200  100       0     0     0>
                , <&key_physical_attrs 100 100  100  200       0     0     0>
                ;
        };
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        hontonopage_physical_layout {
            physical-layout = <&hontonopage_physical_layout>;
            positions = <>;
        };
    };
};